@tailwind base;
@tailwind components;

::selection {
  background: hotpink;
  color: white;
}

html {
  overflow-y: scroll;
}

.white-shadow {
  text-shadow: rgb(253 253 253 / 15%) 0px 0px 25px;
}

.via-shadow {
  text-shadow: #8d599b40 0px 0px 25px;
}

.text-shadow {
  text-shadow: 5px 1px 10px #00000005;
}

.animate-pulse2 {
  animation: pulse2 10s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.hero-text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.23);
  width: 709.17px;
  height: 207px;

  display: flex;
  align-items: center;
  text-align: center;
}

.pod-streaming {
  width: 42px;
  height: 42px;
  border-radius: 9.6px;
}

.pod-episode-img {
  width: 38px;
  height: 38px;
  border-radius: 9.6px;
}

.btn-pod {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 8px;
}

.logo {
  background: #0d0e12;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.container-main {
  background: linear-gradient(
      0deg,
      rgba(21, 24, 30, 0.95),
      rgba(21, 24, 30, 0.95)
    ),
    linear-gradient(
      240.05deg,
      #22262f 2.21%,
      rgba(34, 38, 47, 0) 43.89%,
      #22262f 100%
    );
  border: 1px solid rgba(227, 229, 232, 0.01);
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.bg-pody {
  background: linear-gradient(
      0deg,
      rgba(21, 24, 30, 0.95),
      rgba(21, 24, 30, 0.95)
    ),
    linear-gradient(
      240.05deg,
      #22262f 2.21%,
      rgba(34, 38, 47, 0) 43.89%,
      #22262f 100%
    );
}

.bg-pody-reviews {
  background: linear-gradient(
      0deg,
      rgba(18, 20, 23, 0.88),
      rgba(18, 20, 23, 0.88)
    ),
    linear-gradient(
      240.05deg,
      #22262f 2.21%,
      rgba(34, 38, 47, 0) 43.89%,
      #22262f 100%
    ),
    #121417;
  border: 1px solid #252525;
  box-shadow: 0px 4.24px 67.84px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

@tailwind utilities;
